<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/courseCommentsStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Reviews</title>
</head>

<body>
    <% Reviews.forEach( (review) => { %>
    <% const reviewID = review._id; %>
    <div class="review">
        <div class="voting">
            <span id="voteResults"><%- review.comment_votes %> </span>
            <button id="upvote" onclick="upvote('<%- reviewID %>')" type="button"><span>▲</span></button>
            <button id="downvote" onclick="downvote('<%- reviewID %>')" type="button"><span>▼</span></button>
        </div>

        <p id="date">
            <% let timestamp = reviewID.toString().substring(0, 8); 
            let options = { year: 'numeric', month: 'short', day: 'numeric' };%>
            <%- (new Date(parseInt(timestamp, 16) * 1000)).toLocaleDateString("en-US", options); %>
        </p>

        <div class="starRating">
            <% let nonChecked = 5 - review.rating; for (let i = 0; i < review.rating; i++) { %>
            <span class="fa fa-star fa-lg checked"></span>
            <% }; review.rating--; for (; review.rating < 4; review.rating++) { %>
            <span class="fa fa-star fa-lg"></span>
            <% }; %>
        </div>

        <p id="comment"><%- review.comment %> </p>

        <div class="keywords">
            <% for (let i = 0; i < review.keywords.length; i++) { %>
            <span class="keyword"><%- review.keywords[i] %> </span>
            <% } %>
        </div>


        <div class="replyButtons">
            <% if (isAdmin) { %>
            <button id="deleteRating" type="button">Delete Rating</a>
                <% } else { %>
                <a id="reply" href="#">Reply to Comment</a>
                <a id="showRep" href="#">Show Replies</a>
                <% } %>
        </div>

        <hr>

    </div>
    <% }) %>

    <script>
        var votes = document.getElementById('voteResults')?.innerText;
        let last = +new Date();

        async function upvote(reviewID) {
            const now = +new Date();
            // limit clicks for 1 second
            if (now - last > 1000) {
                last = now;

                const result = await fetch('/api/upvote', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        reviewID
                    })
                }).then((res) => res.json());

                if (result.status === 'ok') {
                    votes++;
                    document.getElementById('voteResults').innerHTML = votes;
                } else {
                    console.log(result.error);
                }
            }

        }

        async function downvote(reviewID) {
            const now = +new Date();
            // limit clicks for 1 second
            if (now - last > 1000) {
                last = now;

                const result = await fetch('/api/downvote', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        reviewID
                    })
                }).then((res) => res.json());

                if (result.status === 'ok') {
                    votes--;
                    document.getElementById('voteResults').innerHTML = votes;
                } else {
                    console.log(result.error);
                }
            }
        }
    </script>
</body>

</html>