<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My UofC Course</title>
    <link rel="stylesheet" href="styles/indexStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    Rate My UofC Course
                </div>
                <% if (isAdmin) { %>
                <%- include('./partials/adminDropdown') %>
                <% } else { %>
                <ul class="nav-items">
                    <li>
                        <% if (user) { %>
                        <a href="/userPage">Profile</a>
                        <% } else { %>
                        <a href="/login">Login</a>
                        <% } %>
                    </li>
                </ul>
                <% } %>
            </nav>

        </div>
    </div>

    <%- include('./partials/header') %>

    <% Courses?.forEach( (course)=> { %>
    <div class="course-content">
        <button type="button" class="collapsible">
            <%- course.course %>
            <% let avgRating = (Math.round(course.avgRating * 2) / 2).toFixed(1); %>
            <% for (let i = 0; i < avgRating-0.5; i++) { %>
            <span class="fa fa-star fa-lg checked"></span> <!-- full star -->
            <% }; if ((avgRating % 1) === 0.5) { avgRating = Math.round(avgRating); %>
            <span class="fa fa-star-half-full fa-lg"></span> <!-- half star-->
            <% }; for (; avgRating < 5; avgRating++) { %>
            <span class="fa fa-star fa-lg"></span> <!-- unrated -->
            <% }; %>
            <label class="checkbox">
                <input class="inputCheckbox" type="checkbox"
                    onchange="ModifyDeletedCoursesList(this, '<%- course.course %>')" />
            </label>
            <span class="arrow">▼</span>
        </button>
        <div class="course-contents">
            <p><b>Description: </b>
                <%- course.description %>
            </p>
            <p><b>Rating: </b><%- Number(course.avgRating).toFixed(2); %> /5 <b>from</b> <%- course.messages.length %> <b>students</b></p>
            <a onclick="reviewButtonHandler('<%- course.course %>')">Add a review</a>
            <p><b>Comments:</b></p>
            <iframe src="courseComments/<%- course.course %> " height="261" width="446" style="border: none;"
                title="Iframe Example"></iframe>
        </div>
    </div>
    <% }) %>

    <div id="myModal" style="display:none;" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <p>ARE YOU SURE YOU WANT TO DELETE?</p>
          <button id="noDelete" type="button">No</button>
          <button id="yesDelete" type="button">Yes</button>
        </div>
      
      </div>
      

</body>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");

            for (j = 0; j < coll.length; j++) {
                var content = coll[j].nextElementSibling;
                if (content.style.display === "block" && coll[j] != this) {
                    coll[j].classList.remove("active");
                    content.style.display = "none";
                }
            }

            var content = this.nextElementSibling;

            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    const filterHandler = (lvl) => {
        if (lvl == "") {
            const url = new URL(window.location);
            url.searchParams.delete("lvl");
            document.location.href = url;
        }
        else {
            const url = new URL(window.location);
            url.searchParams.delete("lvl");
            url.searchParams.append("lvl", lvl);
            document.location.href = url;
        }
    };

    const sortHandler = (sort) => {
        if (sort == '') {
            const url = new URL(window.location);
            url.searchParams.delete("sort");
            document.location.href = url;
        } else {
            const url = new URL(window.location);
            url.searchParams.delete("sort");
            url.searchParams.append("sort", sort);
            document.location.href = url;
        }
    }

    const selectDepartmentHandler = (department) => {
        if (department == '') {
            const url = new URL(window.location);
            url.searchParams.delete("department");
            document.location.href = url;
        } else {
            const url = new URL(window.location);
            url.searchParams.delete("department");
            url.searchParams.append("department", department);
            document.location.href = url;
        }
    };

    const courseNameHandler = (event, courseSearch) => {
        if (event.keyCode == 13) {
            
            var courses = document.getElementsByClassName("course-content");
            if (courseSearch == "") {
                popularTitle.style.visibility = "visible";
                for (var i = 0; i < courses.length; i++) {
                    courses[i].style.display = "block";
                }
            }
            else {
                popularTitle.style.visibility = "hidden";
                courseSearch = courseSearch.split(' ').join('');
                for (var i = 0; i < courses.length; i++) {
                    let courseName = courses[i].children[0].innerText.replace(/\s/g, '');
                    courseName = courseName.slice(0, -1); //remove arrow at the end
                    console.log(courseName);
                    if (courseName.toLowerCase() === courseSearch.toLowerCase()) {
                        courses[i].style.display = "block";
                    } else {
                        courses[i].style.display = "none";
                    }
                }
            }
        }

    };

    const reviewButtonHandler = (course) => {
        url = 'review?course=' + encodeURIComponent(course);
        document.location.href = url;
    };

    const removeCoursesHandler = () => {
        showDeletedCoursesList();

        var checkboxes = document.getElementsByClassName("checkbox");

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].style.display = "inline-flex";
        }

        var coll = document.getElementsByClassName("collapsible");
        var arrow = document.getElementsByClassName("arrow");

        for (var i = 0; i < coll.length; i++) {
            arrow[i].style.display = "none";
            coll[i].disabled = true;

        }
    };

    const cancelRemoveCoursesHandler = () => {
        hideDeletedCoursesList();
        var checkboxes = document.getElementsByClassName("checkbox");

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].style.display = "none";
        }

        //uncheck all checkboxes
        var checkboxesInput = document.getElementsByClassName("inputCheckbox");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxesInput[i].checked = false;
        }
        clearDeletedCoursesList();

        var coll = document.getElementsByClassName("collapsible");
        var arrow = document.getElementsByClassName("arrow");
        for (var i = 0; i < coll.length; i++) {
            arrow[i].style.display = "block";
            coll[i].disabled = false;
        }

    };

    function displayConfirmation(){
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
    }
    
    function deleteConfirmation(){
        var modal = document.getElementById("myModal");
        var noButton = document.getElementById("noDelete");
        var yesButton = document.getElementById("yesDelete");

        return new Promise(function(resolve, reject) {
          noButton.onclick = function() {
                    modal.style.display = "none";
                    resolve(false);

          }
          yesButton.onclick = function() {
                    modal.style.display = "none";
                    resolve(true);
          }
     });
    }

</script>

</html>