<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My UofC Course</title>
    <link rel="stylesheet" href="styles/indexStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    Rate My UofC Course
                </div>
                <ul class="nav-items">
                    <li>
                        <% if (user) { %>
                            <a href="/userPage">Profile</a>
                            <% } else { %>
                                <a href="/login">Login</a>
                                <% } %>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="header-content">
                    <div class="dept-select">
                        <select name="department" id="department" onchange="selectDepartmentHandler(value)">
                            <option value="" selected>Select a department</option>
                            <% Departments.forEach(departments=> { %>
                                <option value="<%- departments.department %>">
                                    <%= departments.department %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <h2>OR</h2>
                    <div class="search-box">
                        <input type="text" placeholder="Enter a specific course" onkeypress="courseNameHandler(event, value)"/>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <div class="body-container">
        <div class="wrapper">
            <h2>Popular Courses</h2>
            <div class="filters">
                <div class="course-filter">
                    <select name="filter" id="filter" onchange="filterHandler(value)">
                        <option value="" disabled selected hidden>Filter</option>
                        <option value="200">200 Levels</option>
                        <option value="300">300 Levels</option>
                        <option value="400">400 Levels</option>
                        <option value="500">500 Levels</option>
                    </select>
                </div>
                <div class="course-sort">
                    <select name="sort-by" id="sort-by">
                        <option value="" disabled selected hidden>Sort By</option>
                        <option value="High-rating">Highest to Lowest Rated</option>
                        <option value="Low-rating">Lowest to Highest Rated</option>
                        <option value="Most">Most Rated</option>
                        <option value="Least">Least Rated</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <% Courses.forEach( (course)=> { %>
        <div class="course-content">
            <button type="button" class="collapsible">
                <%= course.course %>
                    <!--avg star rating example-->
                    <span class="fa fa-star fa-lg checked"></span>
                    <span class="fa fa-star fa-lg checked"></span>
                    <span class="fa fa-star fa-lg checked"></span> <!-- full star -->
                    <span class="fa fa-star-half-full fa-lg"></span> <!-- half star-->
                    <span class="fa fa-star fa-lg"></span> <!-- unrated -->
            </button>
            <div class="course-contents">
                <p><b>Description: </b>
                    <%= course.description %>
                </p>
                <p><b>Rating: </b>5/5 <b>from</b> 100 <b>students</b></p>
                <a href="review">Add a review</a>
                <p><b>Comments:</b></p>
                <iframe src="courseComments" height="261" width="446" style="border: none;"
                    title="Iframe Example"></iframe>
            </div>
        </div>
        <% }) %>

</body>

<script type='text/javascript'>
    var Departments =<%-JSON.stringify(Departments)%>;
</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    const filterHandler = (lvl) => {
        var courses = document.getElementsByClassName("course-content");
        for (var i = 0; i < courses.length; i++) {
            let courseName = courses[i].children[0].innerText.replace(/\s/g, '');
            if ((courseName.charAt(courseName.length - 3)) === lvl.slice(0, 1)) {
                courses[i].style.display = "block";
            } else {
                courses[i].style.display = "none";
            }
        }
    };

    const selectDepartmentHandler = (department) => {
        var courses = document.getElementsByClassName("course-content");
        if (department == ""){
            for (var i = 0; i < courses.length; i++) {
                courses[i].style.display = "block";
            }
        }
        else {
            for (var i = 0; i < courses.length; i++) {
                let courseName = courses[i].children[0].innerText.replace(/\s/g, '');
                if ((courseName.slice(0, 4)) === department) {
                    courses[i].style.display = "block";
                }else {
                    courses[i].style.display = "none";
                }
            }
        }
    };

    const courseNameHandler = (event, courseSearch) => {
        if (event.keyCode == 13){
            var courses = document.getElementsByClassName("course-content");
            if (courseSearch == ""){
                
                for (var i = 0; i < courses.length; i++) {
                    courses[i].style.display = "block";
                }
            }
            else{
                courseSearch = courseSearch.split(' ').join('');
                for (var i = 0; i < courses.length; i++) {
                    let courseName = courses[i].children[0].innerText.replace(/\s/g, '');
                    if (courseName.toLowerCase() === courseSearch.toLowerCase()) {
                        courses[i].style.display = "block";
                    } else {
                        courses[i].style.display = "none";
                    }
                }
            }
        }
        
    };

</script>

</html>